.logo{
    height: 40px;
}
.flag{
    height: 20px;
}
.dropdown-open{
    display: block;
}
.dropdown-close{
    display: none;
}
.link-lang{
    width: 100%;
}
.link-lang:hover{
    background-color: black;
}