.logo{
    height: 40px;
}
.flag{
    height: 20px;
}
.link-lang{
    width: 100%;
}
.link-lang:hover{
    background-color: black;
}

.navbar {
    transition: 500ms;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 6;
  }
  .search-i{
    position: absolute;
    background-color: white;
    z-index: 8;}

  .search{
    position: absolute;
    background-color: white;
    z-index: 8;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden
  }
  
  .log{
      width: 150px;
  }

  .nodisplay {
    display: none;
  }
  
  .display {
    display: block;
  }

  .m{
      margin-left: -30px
  }

  .avatar{
    width: 70px;
    height: 70px;
    box-shadow: none;
    position: absolute;
    border: 3px solid;
    z-index: 6;
  }
  .pb-40{
      padding-bottom: 40px;
  }

  .number{
    font-size: 13px;
    min-width: 18px;
  }
  .none-select {
    user-select: none;
  }
