.logo{
    height: 40px;
}
.flag{
    height: 20px;
}
.dropdown-open{
    display: block;
}
.dropdown-close{
    display: none;
}
.link-lang{
    width: 100%;
}
.link-lang:hover{
    background-color: black;
}

.navbar {
    transition: 500ms;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
  }

  .search{
    position: absolute;
    background-color: white;
    z-index: 4;
  }
  
  .log{
      width: 250px;
  }

  .avatar{
    width: 70px;
    height: 70px;
    box-shadow: none;
    position: absolute;
    border: 3px solid;
    z-index: 2;
  }
  .pb-40{
      padding-bottom: 40px;
  }

  .menu-profile{
      position: absolute;
      top:60px;
  }

  .number{
    font-size: 13px;
    min-width: 18px;
  }
  .none-select {
    user-select: none;
  }
 