<div class="d-flex flex-row chat">
  <div class="list bg-light align-self-end ">
    <div class="list-friends py-5">
      <div class="py-5 win-h">
        <h5 class="text-center"> {{'global.contacts'|translate}}</h5>
        <div class="scroll-y">
          <div *ngFor="let f of friends">
            <app-contacts [searchText]="search" [getFriend]="f"></app-contacts>

          </div>
        </div>
        <div class="pb-2 pt-4">
          <input [(ngModel)]="search" class="form-control w-100" placeholder="{{'global.search'|translate}}">
        </div>
      </div>
    </div>
  </div>
  <div class="align-self-end">
    <div class="icon text-center my-4 py-3">
      <fa name="comments"></fa>
    </div>
  </div>
</div>