<div class="d-flex flex-row chat">
  <div class="list bg-light align-self-end ">
    <div class="list-friends py-5">
      <div class="py-5 win-h">
        Czat
        <div class="scroll-y bg-primary">
          f
          <br>d
          <br>d
          <br>d
          <br>d
          <br>d1
          <br>d
          <br>d
          <br>d
          <br>d
          <br>d
          <br>d2
          <br>d
          <br>d
          <br>d
          <br>d

          <br>d
          <br>d
          <br>d
          <br>d
          <br>dl
          <br>d
          <br>d3
          <br>d
          <br>d
          <br>d
          <br>d
          <br>d
          <br>d
          <br>d4
          <br>d
          <br>d
          <br>d
          <br>d
          <br>d
          <br>d
          <br>d
          <br>d
          <br>d
          <br>d5
          <br>d
          <br>d l
          <br>d
          <br>d
          <br>d
          <br>d
          <br>d
          <br>d
          <br>d
          <br>d l
          <br>d
          <br>d6
          <br>d
          <br>d
        </div>
        <div class="pt-5">
          tu bedzie szukaj
        </div>
      </div>
    </div>
  </div>
  <div class="align-self-end">
    <div class="icon text-center my-4 py-3">
      <fa name="comments"></fa>
    </div>
  </div>
</div>