<div class="bg-img container-fluid  ">
  <div class=" container">
<div class="row pt-5">
  <div class="col-md-12 py-5">
      <div class="card mx-auto">
        <div class="card-body">
          <p class="display-4">{{'auth.register'|translate}}</p>
          <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
              <div class="form-group ">
                  <label>{{'auth.name'|translate}}</label>
                  <input type="text" appErrorDirective  class="form-control" [placeholder]="'auth.name' | translate" [formControlName]="formControlNames.NAME">
              </div>
            <div class="form-group">
              <label>{{'auth.email'|translate}}</label>
              <input type="email" appErrorDirective  class="form-control" [placeholder]="'auth.email' | translate" [formControlName]="formControlNames.EMAIL_ADDRESS" >
            </div>
            <div class="form-group">
              <label>{{'auth.password'|translate}}</label>
              <input type="password" appErrorDirective  class="form-control" [placeholder]="'auth.password' | translate" [formControlName]="formControlNames.PASSWORD">
            </div>
            <div class="form-group">
              <label>{{'auth.rePassword'|translate}}</label>
              <input type="password" appErrorDirective  class="form-control" [placeholder]="'auth.rePassword' | translate" [formControlName]="formControlNames.RE_PASSWORD" >
            </div>
            
            <button [disabled]="!registerForm.valid" type="submit" class="btn button btn-primary">{{'auth.signUp'|translate}}</button>
          </form>
        </div>
      </div>
    </div>
</div>
</div>
</div>
<notifier-container></notifier-container>