<div class="bg-img container-fluid  ">
  <div class=" container">
    <div class="row pt-5">
      <div class="col-md-12 py-5">
        <div class="card mx-auto">
          <div class="card-body">
              <h3 class="font-weight-normal text-center">{{'auth.textResetPassword'|translate}}</h3>
            <form (ngSubmit)="onSubmit()" [formGroup]="emailForm">
              <div class="form-group">
                <label>{{'auth.email'|translate}}</label>
                <input type="email" appErrorDirective class="form-control" [placeholder]="'auth.email' | translate" [formControlName]="formControlNames.EMAIL_ADDRESS">
              </div>
              <button [disabled]="!emailForm.valid" type="submit" class="btn button btn-primary btn-block">{{'global.send'|translate}}</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<notifier-container></notifier-container>