<div class="row">
  <div class="col-md-12">
    <div class="d-flex flex-row">
      <div>
        <app-user-result [user]="user" [imgClass]="'mini2'" [textClass]="'h6'" [divClass]="'py-2 pl-4'" [userId]="userId"></app-user-result>
      </div>
      <div class="align-self-center">
        <button (click)="addFriends()" class="btn btn-primary mr-2">
          <fa name="plus"></fa>
        </button>
      </div>
      <div class="align-self-center">
          <button (click)="removeFriends()" class="btn btn-primary mr-2">
            <fa name="trash"></fa>
          </button>
        </div>
    </div>
  </div>
</div>