<div class="bg-img container-fluid  ">
    <div class=" container">
  <div class="row pt-5">
    <div class="col-md-12 py-5">
        <div class="card mx-auto">
          <div class="card-body">
            <p class="display-4">{{'auth.log'|translate}}</p>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label>{{'auth.email'|translate}}</label>
                <input type="email" appErrorDirective class="form-control" [placeholder]="'auth.email' | translate" [formControlName]="formControlNames.EMAIL_ADDRESS">
              </div>
              <div class="form-group">
                <label>{{'auth.password'|translate}}</label>
                <input type="password" appErrorDirective class="form-control" [placeholder]="'auth.password' | translate" [formControlName]="formControlNames.PASSWORD">
              </div>
              <button type="submit" [disabled]="!loginForm.valid" class="btn button btn-primary">{{'auth.login'|translate}}</button>
            </form>
          </div>
          <div class="card-footer">
            <span class="font-weight-normal">
              {{'auth.registerText'|translate}}
            </span>
            <button class="btn-link border-0 p-0 m-0" [routerLink]="['/auth/register']">
              {{'auth.signUp'|translate}}
            </button>
          </div>
        </div>
      </div>
  </div>
</div>
</div>
<notifier-container></notifier-container>