<h1 mat-dialog-title>{{sug.name}}</h1>
<div mat-dialog-content>
  <h5>{{'group.description'| translate}}</h5>
  <p>{{sug.description}}</p>
  <h5>{{'group.armies'| translate}}</h5>
  <h6>{{'group.added'| translate}}</h6>
  <div *ngFor="let s of newArmies">
    <mat-checkbox color="primary" [(ngModel)]="s.isChecked">{{s.name}}</mat-checkbox>
  </div>
  <h6>{{'group.standart'| translate}}</h6>
  <div *ngFor="let s of standartLoadArmies">
    <mat-checkbox color="primary" [(ngModel)]="s.isChecked">{{'armies.' + s.name| translate}}</mat-checkbox>
  </div>
</div>
<div mat-dialog-actions class="w-100 mb-2">
    <button class="btn-light btn mr-3" (click)="onNoClick()">{{'global.cancel'| translate}}</button>
    <button class="btn-primary btn mr-3" (click)="onSubmit()">{{'global.save'| translate}}</button>
    <button class="btn-danger btn" (click)="remSug()">{{'global.remove'| translate}}</button>
</div>