<div class="pt-5">
  <div class="container pt-5">
    <div class="row">
      <div class="col-md-10 mx-auto bg-gray py-4">
        <app-add-post (addNewPost)="loadNewStart()"></app-add-post>
      </div>
    </div>
  </div>
</div>

<div class="container">
    <div class="row">
      <div class="col-md-10 text-center mx-auto bg-gray py-4">
        <button class="btn btn-link" (click)="refresh()">{{'global.refresh'|translate}}</button>
      </div>
    </div>
  </div>


<app-post-list [start]="start" [addNewPost]="newStart" [end]="end" [userId]="userId" [index]="indexStart" [friends]="friends"></app-post-list>