.messager{
    position: fixed;
    right: 0;
    bottom: 0;
    width: 350px;
}
.chat{
    width: 350px;
    height:  300px;
}
.msg{
    width: 350px;
    height: 70px;
}
.f-r{
    float: right;
}
.scroll-y {
    overflow-y: auto;
    }
.my-msg{
   background-color: rgb(218, 214, 214);
   border-radius: 20px;
}
.f-msg{
    border-radius: 20px;
}