<div class="bg-img container-fluid  ">
  <div class=" container">
    <div class="row pt-5">
      <div class="col-md-12 py-5">
        <div class="card mx-auto">
          <div class="card-body text-center">
            <p class="display-4">{{'not-active.title'|translate}}</p>
            <h4 class="py-3 font-weight-normal">{{'not-active.info-text'|translate}}</h4>
            <button  type="submit" (click)="sendEmail()" class="py-3 btn button btn-primary">{{'not-active.send'|translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
