<h1 mat-dialog-title>{{'auth.changePassword'|translate}}</h1>
<div mat-dialog-content>
  <form [formGroup]="passwordForm">
    <mat-form-field class="w-100">
      <input type="password" appErrorDirective matInput [placeholder]="'auth.currentPassword' | translate" [formControlName]="formControlNames.CURRENT_PASSWORD">
    </mat-form-field>
    <mat-form-field class="w-100">
      <input type="password" appErrorDirective matInput [placeholder]="'auth.newPassword' | translate" [formControlName]="formControlNames.NEW_PASSWORD">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions class="w-100 mb-2">
  <button class="btn-light btn mr-3" (click)="onNoClick()">{{'global.cancel'| translate}}</button>
  <button class="btn-primary btn" (click)="onSubmit()">{{'global.save'| translate}}</button>
</div>

