<div class="form-group">
  <label class="h5">{{'post.newPost'| translate}}:</label>
  <textarea class="form-control" rows="3"></textarea>
  <div class="text-right">
      <div class="dropzone" appFileDrop (hovered)="toggleHover($event)" (dropped)="addPhoto($event)" [class.hovering]="isHovering">
          <div class="row px-5 py-3">
              <div class="col-md-12 text-center">
        <h5>{{'post.dropPhoto'| translate}}</h5>
          <label class="btn btn-dark">
            <input style="display: none;" type="file" accept=".png,.jpg" (change)="startUpload($event.target.files)">
            <span>
              <i class="fa fa-upload"></i>
              {{'post.orSelectPhoto'| translate}}
            </span>
          </label>
        </div>
        <div class="row">
            <div *ngFor="let img of imageSrc; let i = index" class="p-2">
              <div (click)="removePhoto(i);" class="x">
                <i  class="fa fa-times fa-2x text-danger"></i>
              </div>
              <img class="min" [src]="img">
          </div>
        </div>
        </div>
      </div>
    <button class="btn btn-primary mt-2">{{'post.addPost'| translate}}</button>
  </div>
</div>
