<div *ngIf="user">
  <div [ngStyle]="{'background-image': 'url('+backgroundUrl+')'}">
    <div class="gradient  pt-5 pb-4">
      <div class="container pt-5 pb-4">
        <div class="row">
          <div class="col-md-9 text-white">
            <p class="display-4 pt-4">{{user.name}} {{user.lastName}}</p>
          </div>
          <div class="col-md-3 text-white pt-2">
            <img *ngIf="user.avatar" src="{{user.avatar.url||'../../../../assets/profile.png'}}" class="rounded-circle border-white profile ">
            <img *ngIf="!user.avatar" src="{{'../../../../assets/profile.png'}}" class="rounded-circle border-white profile ">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-9 py-4b">
      </div>
      <div class="col-md-3 py-4b">
      </div>
    </div>
  </div>
  <div *ngIf="!isFriend">
    <div class="container pb-5" *ngIf="canAdd()">
      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-primary px-5" (click)="addInvitFriends()">
            <fa name="plus"></fa> {{'profile.addFriends'|translate}}
          </button>
        </div>
      </div>
    </div>
    <div class="container pb-5" *ngIf="!myProfile && !invit2">
      <div class="row">
        <div class="col-md-12">

          <div class="col-md-4">
            <button class="btn btn-primary btn-block" (click)="addFriends()">
              <fa name="check"></fa> {{'profile.akceptInvitation'|translate}}
            </button>
            <button class="btn btn-primary btn-block" (click)="removeFriends()">
              <fa name="times"></fa> {{'profile.rejectInvitation'|translate}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container pb-5">
    <div class="row" *ngIf="myProfile">
      <div class="col-md-4 py-3">
        <br>
        <label class="btn btn-link m-0 p-0">
          <h6>
            <fa name="edit"></fa> {{'profile.editProfile'|translate}}
          </h6>
        </label>
        <br>
        <label class="btn btn-link m-0 p-0">
          <h6>
            <fa name="cogs"></fa> {{'profile.settingsUser'|translate}}
          </h6>
        </label>
        <br>
        <label *ngIf="!user.avatar" class="btn btn-link m-0 p-0">
          <h6>
            <fa name="camera"></fa> {{'profile.addPhoto'|translate}}
            <input type="file" (change)="uploadAvatar($event)" style="display: none;" accept=".png,.jpg" />
          </h6>
        </label>
        <label *ngIf="user.avatar" class="btn btn-link m-0 p-0">
          <h6>
            <fa name="camera"></fa> {{'profile.editPhoto'|translate}}
            <input type="file" (change)="editAvatar($event)" style="display: none;" accept=".png,.jpg" />
          </h6>
        </label>
      </div>
      <div class="col-md-8 px-5 bg-gray py-4">
        <app-add-post (addNewPost)="refresh()"></app-add-post>
      </div>
    </div>
    <div class="row ">
    </div>
  </div>
</div>
<app-post-list *ngIf="user && (myProfile || isFriend)" [getUser]="idUser" [user]="user" [refresh]="refreshKey"></app-post-list>