<div class="container pt-5">
  <div class="row pt-5 mx-auto">
    <div class="col-md-12 py-3">
      <p class="display-4">
        {{'group.standart'| translate}}
      </p>
    </div>
    <div class="col-md-6 text-center " *ngFor="let e of standartEpochs">
      <div class="m-3 p-3 w-100 bg-light">
        <img class="mx-auto" src="{{'../../../../assets/epochs/' + e.name + '.png'}}" class="rounded-circle border-white profile-p ">
        <h2 class="mt-3">{{'epochs.' + e.name | translate}}</h2>
      </div>
    </div>
  </div>
</div>