<div class="bg-img container-fluid  ">
  <div class=" container">
    <div class="row pt-5">
      <div class="col-md-12 py-5">
        <div class="card mx-auto">
          <div class="card-body">
            <p class="display-4 text-center">{{'auth.completeProfile'|translate}}</p>
            <form  (ngSubmit)="onSubmit()" [formGroup]="profileForm">
              <div class="form-group">
                <label>{{'global.name'|translate}}</label>
                <input type="email" appErrorDirective class="form-control" [placeholder]="'global.name' | translate" [formControlName]="formControlNames.NAME">
              </div>
              <div class="form-group">
                <label>{{'global.lastName'|translate}}</label>
                <input type="text" appErrorDirective class="form-control" [placeholder]="'global.lastName' | translate" [formControlName]="formControlNames.LAST_NAME">
              </div>
              <div class="form-group">
                <label>{{'global.dateBirth'|translate}}</label>
                <input type="date" appErrorDirective class="form-control" [placeholder]="'global.dateBirth' | translate" [formControlName]="formControlNames.DATE_BIRTH">
              </div>
              <button [disabled]="!profileForm.valid" type="submit" class="btn button btn-primary btn-block">{{'global.save'|translate}}</button>
            </form>
          </div>
        </div>

        <button  type="submit"  [routerLink]="['/user/profile']" class="btn button btn-primary btn-block">{{'global.save'|translate}}</button>

      </div>
    </div>
  </div>
</div>
