<div class="container py-5">
  <div class="row pt-5">
    <div class="col-md-12">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <button class="nav-link active">{{'admin.listUser'|translate}}</button>
        </li>
        <li class="nav-item">
          <button class="nav-link ">{{'admin.listGrup'|translate}}</button>
        </li>
        <li class="nav-item">
          <button class="nav-link ">{{'admin.suggestGrup'|translate}}</button>
        </li>
      </ul>
      <app-list-user></app-list-user>
    </div>
  </div>
</div>